@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the 'poppins' fonts to all the components & their descendant components */
*>* {
    font-family: 'Poppins', sans-serif;
}

.search-input-field {
    @apply mt-1 bg-white block w-60 px-3 py-2 border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
    @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

/* .author .author-pic {
    height: 3rem;
    width: 3rem;
} */

/* .author-pic {
    height: 3rem;
    width: 3rem;
} */

/* Swiper Slider */
.swiper {
    width: 86rem;
    height: 40rem;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .swiper-slide .tending-blog-pic-1 {
    height: 40rem;
    width: 40rem;
} */

.tending-blog-pic-1 {
    height: 40rem;
    width: 40rem;
}

/* Custom Utilities */
.text-xxs {
    font-size: 10px;
}